{{page-title "Favorites"}}

<h1>Favorites Recipes</h1>
{{#each @model as |recipe|}}
      <RecipeShortOverview @title="{{recipe.title}}"
      @description="{{recipe.description}}" @id="{{recipe.id}}"/>
{{/each}}